---
import type { Props } from '@astrojs/starlight/props';
import { Image } from 'astro:assets';

const data = Astro.props.entry.data;
---
{ data.contributors?.length > 0 && 
    <h3>Contributors</h3>
}
{ data.contributors?.length > 0 && (
    data.contributors.map(function(contributor) {
        const imgUrl = 'https://github.com/' + contributor + '.png?size=50';
        return (
            <a href={ 'https://github.com/' + contributor } target="_blank">
                <Image src={ imgUrl } alt={ contributor } format="webp" width="50" height="50" />
            </a>
        ) 
} )  ) }

<style>
    a{
        display:inline-block;
        margin: 0 10px 0 0!important;
    }
</style>